.flex {
    display: flex;
    margin: auto;
}

.HeaderContainer {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 100vw;
    box-sizing: border-box;
    color: #fff;
    background-color: #14171F;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.HeaderSection {
    max-width: 1920px;
    padding: 8px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.UserMenuContainer {
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.UserMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.UserMenu h4 {
    padding-right: 8px;
    font-weight: 400;
}

.LogOut {
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogOutContainer {
    background-color: #14171F;
    height: 50px;
    width: 120px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -58px;
    z-index: 0;
}

.LogOutSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer!important;
}

.LogOutButton {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    margin: 0;
    font-size: 14px;
    cursor: pointer;
}

.HeaderBanner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
}

.HeaderBanner img {
    width: 140px;
    height: 90%;
}

.HeaderBanner div:hover {
    font-weight: 400;
}

.HeaderMiddleContainer {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
}

.HeaderMiddle {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    padding-left: 5%;
    white-space: nowrap;
    width: 100px;
    height: 40px;
}

.HeaderMiddle2 {
    display: flex;
    justify-content: end;
    width: fit-content;
    height: auto;
}

.HeaderMiddle.active {
    color: #ffffff;
}

.HeaderMiddle.active::after {
    content: '';
    display: block;
    height: 3px;
    background: rgb(131, 131, 255);
    position: absolute;
    left: 25%;
    bottom: 0.2%;
    width: 75%;
}

.HeaderRightest {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.HeaderSearchButton {
    display: flex;
    align-items: center;
    outline: 1px solid #fff;
    margin: 5px;
    border-radius: 4px;
    padding: 8px;
    height: 13px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.HeaderSearchButton:hover {
    border-color: #001b39;
    width: 100%;
}

.HeaderSearchIcon {
    margin-right: 8px;
    width: 24px;
    height: 20px;
}

.HeaderSearchButton input {
    border: none;
    outline: none;
    background: transparent;
    border-radius: 4px;
    color: #fff;
    padding: 3px;
    width: 200px;
    transition: width 0.3s ease;
    font-size: 15px;
}

input::placeholder {
    color: #fff;
}

.black * {
    cursor: auto;
}

.black {
    width: 97%!important;
    border: 1px solid #414e6e;
    border-radius: 10px;
    height: 50px;
}

.black input {
    width: 100%!important;
}

.black:hover {
    width: 100%;
    border: 1px solid #414e6e;
}

.black input::placeholder {
    color: #001b39;
}

.black * {
    color: black!important;
}

.black input:focus {
    width: auto;
}

.ShortcutText {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 13px;
}


@media (max-width: 1200px) {
    .HeaderSearchButton input {
        width: 150px;
    }
    .HeaderBanner img{
        width: 150px;
    }

    .HeaderMiddleContainer .HeaderMiddle {
        flex-wrap: wrap;
        width: fit-content;
        width: 100%;
    }
    .HeaderMiddleContainer .HeaderMiddle .flex{
        width: 100%;
    }
    .HeaderSearchButton{
        width: 150px;
    }
      
    .HeaderSearchButton input {
        font-size: 12px;
        width: 100px;
        
    }
 
}


@media (max-width: 900px) {
    .HeaderSection{
        flex-wrap: wrap;

    }
    .HeaderMiddleContainer {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .HeaderMiddle {
        font-size: 12px;
    }

    .HeaderRightest {
        width: 100%;
    }


 


    .UserMenu svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 576px) {
    .HeaderSection {
        flex-wrap: wrap;
    }

    .HeaderContainer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .HeaderBanner img {
        width: 100px;
    }

    .HeaderMiddle {
        white-space: wrap;
        font-size: 11px;
        padding: 5px;
    }

    .HeaderRightest {
        margin: 0;
        flex-direction: column;
    }

    .UserMenu svg {
        width: 20px;
    }
}
