.features-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #14171fd9;
    border-radius: 100% 0% 100%  / 0% 82% 14% 100% ;
  
    
    color: #fff;
  }
  
  .features-container .svg{
    width: 220px;
    position: relative;
    border-radius: 30px;
  }
  .features-container .svglabel{
        position: absolute; 
        left: 50%;
        font-size: 15px;
        width: 100%;
        font-weight: 700;
        text-align:center;
        transform: translateX(-50%);
        top: 50%; 
        transform: translate(-50%, -50%); 

  }
  .features-left {
    padding: 20px;
  }
  
  .features-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .features-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .features-list {
    list-style-type: none;
    padding: 0;
  }
  
  .features-list-item {
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0 2px rgba(255, 255, 255, 0.400);
  }
  
  .features-right {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ddd;
    padding-left: 10%;

  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    }
  
  
  
  .registration-form input {
    padding: 8px;
    width: 100%;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 12px;


  }
  
  .registration-form button {
    padding: 12px 10px;
    border-radius: 15px;
    width: 105px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    color: #000000;
  }
  .registration-form input::placeholder{
    color: #000;
  }
 .university{
    display: flex;
    align-items: center;
    box-shadow: 10px 2px 10px rgb(0, 0, 0);
    height: 200px;
    justify-content: space-around;
    border-bottom: 1px solid #000;
 }
 .university img{
    max-width: 80px;
 }
 .login-container{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
 }
 .login-container .features-container {
  border-radius: 0;
  min-height: 100vh;
  background-image: none;
 }
.login-left{
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 40%;
}
.login-left div{
  display: flex;
  flex-direction: column;
  width: 80%;
  

}
.login-left div input{
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  margin: 3px;
  padding: 8px;
}
.login-left .labelemail{
  margin-top: 10px;
}
.login-left button{
  width: 80%;
  border: none;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}
.login-left .gray{
  background-color: rgba(0, 0, 0, 0.723);

  color: #fff;
}
.login-left .green{
  background-color: #219845;
  color: #fff;
}
.login-left .dontyouhaveaccount{
color: #00855b;
padding-left: 5px;
cursor: pointer;
}
.login-left .welcome{
  display: flex;
  align-items: center;
  font-weight: 600;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.login-left .error{
  background-color: rgba(255, 0, 0, 0.396);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  border-radius: 20px;
  
}

.HeaderMiddle2 .HeaderMiddle{
  background-color: transparent;
  border: none;
  color: #fff;

}
.LogOut button{
  background-color: transparent;


}
.login-left,.registration-form .VscError{
  color: #000000ca;
}
.login-left .ErrorMessage{
  margin-left: 10px;
  font-size: 16px;
  color: #000000d8;
}
.active{
  display: flex;
}
.deactive{
  display: none!important;
 }
 .registration-form .error{
  background-color: rgb(181, 48, 48);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  border-radius: 20px;
  min-width: max-content;
  
}
.registration-form .ErrorMessage{
  font-size: 16px;
  color: #000000d8;
}
.registration-form .success{
  background-color: rgb(2, 92, 0);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  border-radius: 20px;
  min-width: max-content;
  margin: 10px 0;
  
}

.success {
  animation: fadeInOut 4s forwards;
}
.Role-Section{
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  min-height: 100vh;
  align-items: center;
}
.Role-Section button{
  display: flex;
  flex-direction: column;
  width: 400px;
  overflow: hidden;
  align-items: center;
  height: max-content;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  border:none;
  background-color: #bebebe80;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.553);


}
.Role-Section img{
  width: 400px;
  height: 300px;
  object-fit: contain;
}




@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.deactive {
  opacity: 0;
  transition: opacity 0.5s ease;
}


.create-class-container {
 
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f9f9f9;


}


.create-class-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.create-class-container form {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.create-class-container label {
  margin-bottom: 15px;
}

.create-class-container input[type="text"] {
  width: 100%;
  margin-top: 15px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;

}
.create-class-container input::placeholder{
  color: rgba(80, 80, 80, 0.66);

}

.create-class-container button {
  padding: 10px 15px;
  width: 20%;
  border: none;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #2a2a2a;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.create-class-container button:hover {
  background-color: #000000;
}

.create-class-container p {
  margin-top: 20px;
  font-size: 16px;
}

.create-class-container .error {
  color: red;
}

.create-class-container .success {
  color: green;
}
.class-particular-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:2rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 600px;
  font-family: 'Arial', sans-serif;
}



.class-particular-container .token {
  cursor: pointer;
  margin-left: 5px;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  background-color: #14171fd9;

  color: #fff; 
  transition: background-color 0.3s ease, transform 0.1s ease; 
}

.class-particular-container .token:hover {
  background-color: #14171fd9;

}

.class-particular-container .token:active {
  transform: scale(0.95); 
}

.class-particular-container .error {
  color: #e74c3c;
  font-size: 1.2rem;
  margin-top: 1rem;
}

