.features-container {
    display: flex;
    justify-content: space-between;
  padding: 20px;
    background-color: #14171fd9;
    border-radius: 100% 0% 100%  / 0% 82% 14% 100% ;
  
    
    color: #fff;
  }

  .features-container .svg{
    width: 220px;
    position: relative;
    border-radius: 30px;
  }
  .features-container .svglabel{
        position: absolute; 
        left: 50%;
        font-size: 15px;
        width: 100%;
        font-weight: 700;
        text-align:center;
        transform: translateX(-50%);
        top: 50%; 
        transform: translate(-50%, -50%); 

  }
  .features-left {
    padding: 20px;
  }
  
  .features-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .features-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .features-list {
    list-style-type: none;
    padding: 0;
  }
  
  .features-list-item {
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0 2px rgba(255, 255, 255, 0.400);
  }
  
  .features-right {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ddd;
    padding-left: 10%;

  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    }
  
  
  
  .registration-form input {
    padding: 8px;
    width: 100%;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 12px;


  }
  
  .registration-form button {
    padding: 12px 10px;
    border-radius: 15px;
    width: 105px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    color: #000000;
  }
  .registration-form input::placeholder{
    color: #000;
  }
 .university{
    display: flex;
    align-items: center;
    box-shadow: 10px 2px 10px rgb(0, 0, 0);
    height: 200px;
    justify-content: space-around;
    border-bottom: 1px solid #000;
 }
 .university img{
    max-width: 80px;
 }
 .login-container{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
 }
 .login-container .features-container {
  border-radius: 0;
  min-height: 100vh;
  background-image: none;
 }
.login-left{
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 40%;
}
.login-left div{
  display: flex;
  flex-direction: column;
  width: 80%;
  

}
.login-left div input{
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  margin: 3px;
  padding: 8px;
}
.login-left .labelemail{
  margin-top: 10px;
}
.login-left button{
  width: 80%;
  border: none;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}
.login-left .gray{
  background-color: rgba(0, 0, 0, 0.723);

  color: #fff;
}
.login-left .green{
  background-color: #219845;
  color: #fff;
}
.login-left .dontyouhaveaccount{
color: #00855b;
padding-left: 5px;
cursor: pointer;
}
.login-left .welcome{
  display: flex;
  align-items: center;
  font-weight: 600;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.login-left .error{
  background-color: rgba(255, 0, 0, 0.396);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  border-radius: 20px;
  
}

.HeaderMiddle2 .HeaderMiddle{
  background-color: transparent;
  border: none;
  color: #fff;

}
.LogOut button{
  background-color: transparent;


}
.login-left,.registration-form .VscError{
  color: #000000ca;
}
.login-left .ErrorMessage{
  margin-left: 10px;
  font-size: 16px;
  color: #000000d8;
}
.active{
  display: flex;
}
.deactive{
  display: none!important;
 }
 .registration-form .error{
  background-color: rgb(181, 48, 48);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  border-radius: 20px;
  min-width: max-content;
  
}
.registration-form .ErrorMessage{
  font-size: 16px;
  color: #000000d8;
}
.registration-form .success{
  background-color: rgb(2, 92, 0);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  border-radius: 20px;
  min-width: max-content;
  margin: 10px 0;
  
}

.success {
  animation: fadeInOut 4s forwards;
}
.Role-Section{
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  min-height: 100vh;
  align-items: center;
}
.Role-Section button{
  display: flex;
  flex-direction: column;
  width: 400px;
  overflow: hidden;
  align-items: center;
  height: max-content;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  border:none;
  background-color: #bebebe80;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.553);


}
.Role-Section img{
  width: 400px;
  height: 300px;
  object-fit: contain;
}




@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.deactive {
  opacity: 0;
  transition: opacity 0.5s ease;
}


.create-class-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  height: 100%;
  background-color: transparent;


}


.create-class-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.create-class-container form {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.create-class-container label {
  margin-bottom: 15px;
}

.create-class-container input[type="text"] {
  width: 100%;
  margin-top: 15px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;

}
.create-class-container input::placeholder{
  color: rgba(80, 80, 80, 0.66);

}

.create-class-container button {
  padding: 10px 15px;
  width: 30%;
  border: none;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #2a2a2a;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.create-class-container button:hover {
  background-color: #000000;
}

.create-class-container p {
  margin-top: 20px;
  font-size: 16px;
}

.create-class-container .error {
  color: red;
}

.create-class-container .success {
  color: green;
}
.class-particular-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:2rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 600px;
  font-family: 'Arial', sans-serif;
}
.class-particular-container>div {
  width: 100%; 
  display: flex;
  flex-direction: column;
 
}
.class-particular-container p:nth-child(2) {
  width: 100%; 
  display: flex;
 
}


.class-particular-container .token {
  cursor: pointer;
  margin-left: 5px;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  background-color: #e0e0e0d9;
  color: #000000; 
  transition: background-color 0.3s ease, transform 0.1s ease; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.class-particular-container .token:hover {
  background-color: #c8c8c8d9;

}

.class-particular-container .token:active {
  transform: scale(0.95); 
}

.class-particular-container .error {
  color: #e74c3c;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.allClasses-container .classes-table{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.845);


}
.allClasses-container .header-bar tr{
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  padding: 20px;
  white-space: nowrap;
  font-weight: bold; 
}
.allClasses-container .classes-table .header-bar tr td{
  display: flex;
}

.allClasses-container .error-message {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.allClasses-container .loading-message {
  text-align: center;
}

.allClasses-container .classes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.allClasses-container .class-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}

.allClasses-container .class-item:hover {
  transform: scale(1.008);
}

.allClasses-container .class-item a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.845);

}

.allClasses-container .class-item a:hover {
  text-decoration: underline;
}
.allClasses-container td{
  width: 20%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}


.joinclass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #cdcccc6f;
  font-family: Arial, sans-serif; 

}

.joinclass-container .joinclass-section{
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #0000009e;
  max-width: 400px;
  display: flex;
  padding: 10px;
  margin: 10px;


}
.joinclass-container ul, 
.joinclass-container > span,
.joinclass-info,
.joinclass-container .bottom,
.joinclass-container input,
.joinclass-container button,
.joinclass-container h3 {
  margin: 6px;
  padding: 6px;
}
.joinclass-container h3{
  font-weight: 400;
}
.joinclass-container .joinclass-info{
  max-width: 100%;
  border: 1px solid #00000065;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
}
.joinclass-container .name{
  text-transform: capitalize;
  margin: 3px 0;
  padding: 0;
}
.joinclass-container .email{
  color:#000000e1;
  font-size: 13px;
  margin:10px 0;
  padding: 0;
}
.joinclass-container .joinclass-info div{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.joinclass-container .joinclass-info .text{
  margin:8px;
  padding: 0;
  color: #000000cd;
}
.joinclass-container .joinclass-info span{
  margin-left: 10px;
}




.joinclass-container input {

  border: 1px solid #000000a3; 
  padding: 8px;
  border-radius: 4px; 
  transition: border-color 0.3s; 
}
.joinclass-container input::placeholder{
  color: #00000099;
  font-size: 14px;
}

.joinclass-container input:focus {
  border-color: #020202; 
  outline: none;
}

.joinclass-container button {
  background-color: #007bff; 
  color: #fff;
  border: none; 
  border-radius: 4px;
  font-size: 14px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.joinclass-container button:disabled {
  background-color: #ccc; 
  cursor: not-allowed; 
}

.joinclass-container button:not(:disabled):hover {
  background-color: #0056b3; 
}

.joinclass-container .error {
  color: #dc3545;
  margin-top: 10px;
}

.joinclass-container .success {
  color: #28a745;
  margin-top: 10px; 
}
.joinclass-container .bottom{
  display: flex;
  flex-direction: column;

}
.joinclass-container ul {
  list-style-type: none; 
  padding-left: 0; 
}

.joinclass-container ul li {
  margin-bottom: 5px; 
  color: #000000cd;
  font-size: 13px;
  list-style: circle;
  margin: 0 10px;
}
.create-exam-container {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.create-exam-container form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.845);
  width: 100%;
  max-width: 500px;

  
}

.create-exam-container div {
  display: flex;
  flex-direction: column; 
  margin: 12px 0;
}

.create-exam-container label {
  width: 100%;
  max-width: 200px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.create-exam-container input, 
.create-exam-container select, 
.create-exam-container textarea {
  padding: 10px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  width: 200px; 
}

.create-exam-container input:focus,
.create-exam-container select:focus,
.create-exam-container textarea:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-color: #6200ea;
}

.create-exam-container textarea {
  height: 80px;
  width: 202px;
  resize: none;
}
.create-exam-container .create-exam-button{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.create-exam-container button{
  width: 80%;
  background-color: #248a42;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  
}
.all-exams-container{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace; 
  color: rgba(0, 0, 0, 0.845); 
  
}
.all-exams-section {
  font-family: 'Courier New', Courier, monospace;
  width: 800px;
  color: rgba(0, 0, 0, 0.845);
  margin: 20px auto;
  padding: 30px;
  background-color: #ffffff; 
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.845);
}

.all-exams-container .title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.845);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

.all-exams-container .loading,
.all-exams-container .error {
  text-align: center;
  font-size: 1.5rem;
  color: #d9534f;
  margin: 20px 0;
}

.all-exams-container .no-exams {
  text-align: center;
  font-size: 1.25rem;
  color: #6b4e37;
}

.all-exams-container .exams-list {
  list-style-type: none;
  padding: 0;
}

.all-exams-container .exam-card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.845);
  border-radius: 8px;
  padding: 20px;
  margin: 15px 0;
  transition: transform 0.2s;
}

.all-exams-container .exam-card:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.all-exams-container .exam-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.845);
}

.all-exams-container .exam-description {
  font-size: 1rem;
  color: #3c2a1b;
  margin-bottom: 10px;
}

.all-exams-container .exam-class-id,
.all-exams-container .exam-duration,
.all-exams-container .exam-start-date {
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 5px;
  font-weight: 450;

}

.all-exams-container .exam-actions {
  margin-top: 15px;
}

.all-exams-container .btn {
  font-size: 1rem;
  background-color:rgba(0, 0, 0, 0.845);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.all-exams-container .btn:hover {
  transform: translateY(-1px);
}

.all-exams-container .edit-btn {
  margin-right: 10px;
}

.all-exams-container .delete-btn {
  background-color: #c0392b;
}





.problems-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  color: #333333;
  display: flex;
  flex-direction: column;
  font-size: 15px!important;
}

.problems-container *{
  font-size: 14px!important;
}
.problems-container input{
  text-align: left
}
.problems-container h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #222222;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4; 
  padding: 10px 0;
}

.table-header h3 {
  flex: 1;
  text-align: center; 
  color: #222222;
}

.problem-item {
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  
}

.problem-item h3,
.problem-item p,
.problem-item .desc
 {
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 200px;
  padding: 7px;
  text-align: center;

}
.problem-item .flat-button{
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 200px;
  padding: 7px;
  text-align: center;

}
.problem-item:last-child {
  border-bottom: none;
}

.problem-item h3 {
  font-size: 20px;
  color: #111111;
  margin: 0;
}

.problem-item p {
  color: #444444;
  margin: 8px 0;
}

.loader {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 50px;
  color: #222222;
}

.flat-button {
  height: 40px;
  text-align: center;
  background-color: #111111;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flat-button:hover {
  background-color: #333333;
}

.flat-button:focus {
  outline: none;
}

.flat-button:active {
  background-color: #555555;
}


@media (min-width: 600px) {
  
  .create-exam-container div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .create-exam-container label {
  }

  .create-exam-container input, 
  .create-exam-container select, 
  .create-exam-container textarea {
    width: 65%; 
  }
}

@media (max-width: 599px) {
  .create-exam-container div {
    flex-direction: column;
  }

  .create-exam-container label {
    width: 100%;
  }

  .create-exam-container input, 
  .create-exam-container select, 
  .create-exam-container textarea {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .features-container {
    flex-direction: column; 
    padding: 10px;
  }

  .features-left, .features-right {
    width: 100%;
    padding: 10px;
  }

  .login-left, .university {
    width: 100%;
  }

  .registration-form {
    width: 90%;
  }

  .create-class-container {
    width: 100%;
    padding: 15px;
  }
  .create-class-container button{
    width: 100%;
  }
}

@media (max-width: 480px) {
  .features-title {
    font-size: 20px;
  }

  .features-subtitle {
    font-size: 16px;
  }

  .login-left button {
    font-size: 14px;
  }
}